.modal {

  $block-name:                &; // #{$block-name}__element

  // &__dialog {

  // }

  &__content {
    color: $text-color;
    background-color: $secondary-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: 0 0 10px 0 rgba(65, 209, 130, 0.35),
                0 0 6px 1px rgba(13, 16, 29, 0.40) inset;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 16px;
      left: 16px;
      height: 1px;
      background-color: $secondary-light;
    }
  }

  &__title {
    flex: 1 1 auto;
    margin: 0 !important;
  }

  &__close {
    flex: 0 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    color: $text-color;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color $transition-time;

    &:hover,
    &:focus {
      color: $main-color;
    }
  }

  // &__body {
  // }

  &__info {
    font-size: $font-size-sm;
    letter-spacing: 0.224px;
    hyphens: none;
    color: $grey-200;
  }
}
