.text-divider {

  $block-name:                &; // #{$block-name}__element

  height: 20px;
  margin: 2px 0;
  background-color: transparent;
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
  background-image: svg-load('../blocks/text-divider/bg-img/realnet-string.svg', fill=$main-color);
  opacity: 0.25;
}
