.breadcrumbs {
  margin-top: 16px;
  margin-bottom: 16px;

  @media (min-width: $screen-md) {
    margin-bottom: 32px;
  }

  $block-name:             &;  // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 6px;
    overflow-x: auto;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    margin-right: 12px;
    //text-overflow: ellipsis;
    //margin-bottom: 0.5em;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: '\276F'; // U+276F, HTML-код &#10095; CSS-код  \276F - Прававя угловая скобка
      display: inline-block;
      margin-left: 12px;
      font-size: 10px;
      font-weight: 700;
      color: $grey-200;
    }

    &:last-child {

      #{$block-name}__link {
        text-decoration: none;
        color: $main-color;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    padding: 6px 0;
    font-size: $font-size-sm;
    font-weight: inherit;
    color: $grey-200;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 0.224px;

    &:hover,
    &:focus {
      color: $main-color;
      text-decoration: none;
    }
  }
}
