.tariff-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 16px;
  box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.25),
              0 0 10px 1px rgba(13, 16, 29, 0.50) inset;
  @include border-gradient (
    1px,
    $border-radius,
    $secondary-color,
    linear-gradient(160deg, #3B6368 5%, #2A4954 22%, #25414B)
  );

  $block-name:                &; // #{$block-name}__element

  &__img {
    flex: 0 0 auto;
    border-radius: $border-radius--sm;
    pointer-events: none;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 8px 0 20px;

    span {
      display: block;
      margin-top: 2px;
      font-size: $font-size;
      font-weight: 400;
      letter-spacing: 0.16px;
      color: $grey-200;
    }
  }

  &__battery {
    display: flex;
    align-items: center;
    gap: 12px;
    min-height: 24px;
    padding-left: 32px;
    margin-top: 0;
    font-size: $font-size-sm;
    color: $main-color;
    line-height: 1;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: svg-load('../blocks/sprite-svg/svg/battery.svg', fill=$main-color);

    &::after {
      flex: 1 1 auto;
      display: block;
      content: "";
      min-width: 20px;
      height: 1px;
      background-color: $main-color;
    }

    &--iconless {
      padding-left: 0;
      background: none;

      &::after {
        display: none;
      }
    }
  }

  &__options {
    //border-collapse: collapse;
    //width: 100%;
    table-layout: auto;
    letter-spacing: 0.16px;
    border: none;

    th,
    td {
      padding: 4px 0;
      vertical-align: baseline;
      border: none !important;
    }

    tr {

      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }

      &:last-child {
        th,
        td {
          padding-bottom: 0;
        }
      }
    }

    th {
      font-weight: 400;
      text-align: initial;
      color: $grey-200;
    }

    td {
      text-align: right;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__old-price {
    margin-right: 6px;
    color: $grey-200;
    text-decoration: line-through;

    &:empty {
      display: none;
    }
  }

  &__info {
    margin-bottom: 24px;
    font-size: $font-size-sm;
    color: $grey-200;
  }

  &__order {
    align-self: flex-start;
    margin-top: auto;
  }

  &__label {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 16px;
    font-size: $font-size-sm;
    font-weight: 700;
    letter-spacing: 0.224px;
    line-height: 1;
    border-radius: $border-radius;

    &.purple {
      color: $text-color;
      background-color: $badge-purple;
    }

    &.green {
      color: $grey-400;
      background-color: $badge-green;
    }

    &.yellow {
      color: $grey-400;
      background-color: $badge-yellow;
    }
  }

  &--offer {

    #{$block-name}__title {
      margin-bottom: 12px;
    }

    #{$block-name}__info {
      margin-top: 0;
    }
  }
}
