 .hero {
  padding-top: 32px;
  padding-bottom: 32px;

  $block-name:                &; // #{$block-name}__element

  .swiper-pagination {
    padding: 12px 16px;
    border: 1px solid $main-color;
    border-radius: $border-radius;
  }

  .swiper__controls-wrapper {

    @media (min-width: $screen-lg) {
      margin-top: 70px;
    }
  }
}
