.section-heading {
  margin-bottom: 32px;
  text-align: center;
  overflow: hidden;

  $block-name:                &; // #{$block-name}__element

  &__title {
    display: inline-flex;
    position: relative;
    margin: 0 0 8px;
    font-size: $font-size !important;

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      transform: transkateY(-50%);
      width: 60px;
      height: 1px;
      background-color: currentColor;
    }

    &::before {
      left: -68px;
    }

    &::after {
      right: -68px;
    }
  }

  &__slogan,
  &__intro {

    &:empty {
      display: none;
    }
  }

  &__slogan {
    margin: 0;
    hyphens: none;
  }

  &__intro {

    &:has(.section-heading__link) {
      margin-top: 32px;
    }
  }


  &--tariff {
    color: $main-color;
  }

  &--news {
    text-align: initial;

    #{$block-name}__title {

      &::before {
        display: none;
      }
    }
  }

  &--black {
    color: $grey-400;
  }

  &--white {
    color: $text-color;

    #{$block-name}__title {
      color: $grey-200;

      &::before,
      &::after {
        background-color: $main-color;
      }
    }
  }
}
