.page-footer {
  position: relative;
  padding-top: 72px;
  padding-bottom: 16px;
  font-size: $font-size-sm;

  $block-name:                &; // #{$block-name}__element

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(21, 40, 47, 0.32) 0%, rgba(73, 211, 139, 0.32) 50%, rgba(21, 40, 47, 0.32) 100%);
  }

  .logo {
    margin-bottom: 16px;
  }

  &__row {
    gap: 40px 0;
  }

  &__col-main {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 8, $grid-columns--md, 16px);
    @include col(lg, 7);
  }

  &__col-nav {
    // @include col(xs, 12, 8, 16px);
    @include col(md, 8, $grid-columns--md, 16px);
    @include col-offset(lg, 1);
    @include col(lg, 4);

    @media (max-width: $screen-md - 1) {
      display: none;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
      order: -1;
    }
  }

  &__inner-row {

    @media (min-width: $screen-md) {
      gap: 40px 0;
    }
  }

  &__col-logo {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 3, $grid-columns--md, 16px);
    @include col(lg, 5);

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-md) {
      align-items: flex-start;
    }
  }

  &__col-slogan {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 5, $grid-columns--md, 16px);
    @include col(lg, 7);

    @media (max-width: $screen-md - 1) {
      margin-top: 16px;
    }
  }

  &__col-contacts {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 8, $grid-columns--md, 16px);
    @include col(lg, 12);

    @media (max-width: $screen-md - 1) {
      margin-top: 40px;
    }
  }

  &__main {

  }

  &__slogan {
    hyphens: none;
    color: $grey-200;

    @media (max-width: $screen-md - 1) {
      padding-top: 16px;
      border-top: 1px solid $secondary-light;
    }

    @media (min-width: $screen-md) {
      padding-left: 24px;
      border-left: 1px solid $secondary-light;
    }
  }

  &__contacts {
     // display: flex;
     // flex-direction: column;
     // align-items: flex-start;
     // gap: 16px;

    @media (min-width: $screen-md) {
      //flex-direction: initial;
      //flex-wrap: wrap;
      //align-items: flex-start;
    }

    .row {
      gap: 16px 0;
    }
  }

  &__contacts-title {
    width: 100%;
    margin: 0 0 18px;
    font-size: $font-size-sm;
  }

  &__col-phones {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 3, $grid-columns--md, 16px);
    @include col(lg, 4);
  }

  &__col-mail {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 3, $grid-columns--md, 16px);
    @include col(lg, 4);

    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
      order: 1;
    }
  }

  &__col-address {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 5, $grid-columns--md, 16px);
    @include col(lg, 4);
  }

  &__phones {

    li + li {
      margin-top: 16px;
    }
  }

  &__link {
    color: $grey-200;
  }

  &__mail {
    margin: 0;

    // @media (min-width: $screen-md) {
    //   flex: 1 1 50%;
    //   max-width: 50%;
    // }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    color: $grey-200;

    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
      padding-left: 24px;
    }

    span {
      display: block;
    }
  }

  &__nav {

  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 16px;

    @media (min-width: $screen-lg) {
      justify-content: initial;
      gap: 10px 18px;
    }
  }

  &__nav-item {

    @media (min-width: $screen-lg) {
      flex: 0 1;
      flex-basis: calc(50% - 9px);
    }
  }

  &__copyrights {
    padding-top: 16px;
    margin-top: 40px;
    border-top: 1px solid $secondary-light;
  }
}
