.manuals {
  padding-top: 32px;
  padding-bottom: 32px;

  @media (min-width: $screen-md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  $block-name:                &; // #{$block-name}__element

  &__col {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 8, 8, 16px);
    @include col(lg, 8);

    & > img {
      display: block;
      width: 100%;
      max-width: 860px;
      margin-bottom: 32px;
      border-radius: $border-radius;
    }
  }
}
