.product {
  //padding-top: 32px;
  padding-bottom: 32px;

  @media (min-width: $screen-md) {
    //padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $screen-lg) {
    //padding-top: 48px;
    padding-bottom: 48px;
  }

  $block-name:                &; // #{$block-name}__element

  &__row {
    gap: 40px 0;
  }

  &__col-slider {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(sm, 10, $grid-columns, 16px);
    @include col(md, 5, 8, 16px);
    @include col(lg, 5);
  }

  &__col-text {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 8, 8, 16px);
    @include col(lg, 7);
  }

  &__text {

    @media (min-width: $screen-lg) {
      padding-left: 16px;
    }
  }

  &__price-wrapper {
    margin-top: 40px;
  }

  &__price {
    display: flex;
    align-items: baseline;
    gap: 16px;

    &:has(#{$block-name}__old:not(:empty)) {

      #{$block-name}__current {
        color: $main-color;
      }
    }
  }

  &__old {
    text-decoration: line-through;
    color: $grey-200;
  }

  &__label {
    display: inline-flex;
    padding: 5px 16px;
    font-size: $font-size-sm;
    font-weight: 700;
    letter-spacing: inherit;
    border-radius: $border-radius;

    &.purple {
      color: $text-color;
      background-color: $badge-purple;
      box-shadow: 0 0 6px 0 rgba($badge-purple, 0.5);
    }

    &.red {
      color: $text-color;
      background-color: $color-danger;
      box-shadow: 0 0 6px 0 rgba($color-danger, 0.5);
    }

    &.green {
      color: $grey-400;
      background-color: $badge-green;
      box-shadow: 0 0 6px 0 rgba($badge-green, 0.5);
    }

    &.yellow {
      color: $grey-400;
      background-color: $badge-yellow;
      box-shadow: 0 0 6px 0 rgba($badge-yellow, 0.5);
    }
  }
}
